<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- This is the way that you can show variables in pages -->
    <!-- This value will be filled by the server in the get request, just like programmed in the server file -->
    <h1><%= message %></h1>
</body>
</html>